{% load staticfiles sekizai_tags %}
<div id='citem'>
	<h4>{{ instance.name }}</h4>
	{% if instance.name == 'instagram' %}
		<div id="instafeed">
          <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/12453a30dbf252df8feeef3c03af81c3.html" id="{{ instance.widget_id}}" name="{{ instance.widget_id}}"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
    {% elif instance.name == 'youtube' %}
    	<div id='youtube'>

    	</div>
    {% else %}
    	<div id='instafeed'>
    		<a href='{{ instance.url }}' target='_new'>
    			<img src="{{ instance.img.url }}" />
    		</a>
    	</div>
    {% endif %}
</div>

{% block "css" %}
	<style type="text/css">
		#citem {
			width: 100%;
		}

		#citem h4 {
			text-align: center;
			text-transform: uppercase;
			color: black;
		}

		#citem img {
			width: 100%;
			height: auto;
		}

	</style>

{% endblock %}