{% load staticfiles cms_tags menu_tags sekizai_tags %}
<div class='rounded-border-container-{{ instance.id }}'>
	{{ instance.content }}
	{% for child in instance.child_plugin_instances %}
		{% render_plugin child %}
	{% endfor %}
</div>

{% block "css" %}
	<style type="text/css">
		.rounded-border-container-{{ instance.id }} {
			margin-top: 20px;
			width: 100%;
			display: block;
			padding: 10px 20px;
			border-radius: {{ instance.border_radius }}px;
			border: {{ instance.border_thickness }}px solid {{ instance.border_color }};
		}	
	</style>

{% endblock %}
