{% load staticfiles cms_tags menu_tags sekizai_tags %}
<header>
	<a class='logo' href='/'>
		<img src="{% static 'img/logo/icoach-logo.png' %}" />
	</a>
	<ul class="nav">
        {% show_menu 0 100 100 100 %}
    </ul>
</header>

    
{% block "js" %}
	<script type="text/javascript">
		$(window).scroll(function(){
			var navbar = $('ul.nav');
			if ($(this).scrollTop() > 210){
				$(navbar).addClass('fixed');
			} else {
				$(navbar).removeClass('fixed');
			}
		});

	</script>

{% endblock %}