{% load cms_tags staticfiles sekizai_tags mathfilters %}
<div class='page-layout-child child-{{ instance.id }}'>
{% for child in instance.child_plugin_instances %}
		{% render_plugin child %}
	{% endfor %}
</div>

{% block "css" %}
	<style type="text/css">
		.child-{{ instance.id }} {
			width: {{ instance.width|sub:4}}{{instance.unit}};
			padding: 0 10px;
			min-height: 200px;
		}	
	</style>

{% endblock %}