{% load cms_tags staticfiles sekizai_tags mathfilters %}
<section class='page-layout-{{ instance.id }}'>
	{% for col in instance.child_plugin_instances %}
		{% render_plugin col %}
	{% endfor %}
</section>

{% block "css" %}
	<style type="text/css">
		.page-layout-{{ instance.id }} {
			width: {{ instance.max_width }}{{ instance.unit}};
			display: block;
			margin: 0 auto;
			margin-top: 25px;
		}

		.page-layout-child {
			display: inline-block;
			vertical-align: top;
		}
	</style>

{% endblock %}


{% block "js" %}
	<script type="text/javascript">
		

	</script>

{% endblock %}