{% load cms_tags staticfiles sekizai_tags mathfilters %}
<section class='cr-container'>
	<!-- radio -->
	<div class='slider-controls'>
		{% for slide in instance.child_plugin_instances %}
			<span class='slide-control' onclick="showSlide({{ forloop.counter0 }})"></span>
		{% endfor %}
	</div>

	<!-- direction controls -->
	<span class='arrow-control left' onclick='showPrev()'><i class='fa fa-angle-left'></i></span>
	<span class='arrow-control right' onclick='showNext()'><i class='fa fa-angle-right'></i></span>
	
	<!-- slides -->
	{% for slide in instance.child_plugin_instances %}
		{% render_plugin slide %}
	{% endfor %}
</section>

{% block "css" %}
	<style type="text/css">
		.cr-container {
			width: 100%;
			position: relative;
			max-height: 100vh;
			overflow: hidden;
		}

		.slider-controls {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 20px;
			z-index: 1000;
			background: transparent;
			display: table;
		}

		.slide-control {
			display: table-cell;
			border-right: 1px solid black;
			{% if instance.num_children == 0 %}
				width: 100%;
			{% else %}
				width: {{ 100|div:instance.num_children }}%;
			{% endif %}
			height: 20px;
			cursor: pointer;
			background: black;
			opacity: 0.5;
			-webkit-transition: background .25s ease;
			   -moz-transition: background .25s ease;
			    -ms-transition: background .25s ease;
			     -o-transition: background .25s ease;
			        transition: background .25s ease;

		}

		.slide-control:hover,
		.slide-control.active {
			opacity: 1;
		}

		.arrow-control {
			position: absolute;
			top: 50%;
			-webkit-transform: translatey(-50%);
			   -moz-transform: translatey(-50%);
			    -ms-transform: translatey(-50%);
			     -o-transform: translatey(-50%);
			        transform: translatey(-50%);
			height: 50px;
			width: 50px;
			background: black;
			opacity: 0.7;
			cursor: pointer;
			line-height: 50px;
			text-align: center;
			font-size: 50px;
			color: white;
			visibility: hidden;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			z-index: 1000;

		}

		.arrow-control i {
			opacity: 0.2;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}

		.left {
			left: 0;
		}

		.right {
			right: 0;
		}

		.arrow-control:hover {
			opacity: 1;
		}

		.arrow-control:hover i {
			opacity: 1;
		}

		.cr-container:hover .arrow-control {
			visibility: visible;
		}
	</style>

{% endblock %}


{% block "js" %}
	<script type="text/javascript">
		var slides = [];
		var slides_ctr = [];
		var current = 0;
		function initSlider() {
			slides = $('.cr-container .slide-item');
			slides_ctr = $('.cr-container .slide-control');
			$(slides[current]).addClass('active');
			$(slides_ctr[current]).addClass('active');
		}

		function showSlide(index) {
			$(slides).removeClass('active');
			$(slides_ctr).removeClass('active');
			current = index;
			$(slides[current]).addClass('active');
			$(slides_ctr[current]).addClass('active');
		}

		function showNext() {
			current = current + 1 < slides.length ? current + 1 : 0;
			showSlide(current);
		}

		function showPrev() {
			current = current - 1 >= 0 ? current - 1 : slides.length - 1;
			showSlide(current);
		}

		$(document).ready(function() {
			initSlider();
		});

		function animateSlider(callback, delay) {
			var timerId , start;

			this.pause = function() {
				window.clearInterval(timerId);
			};

			this.resume = function() {
				window.clearInterval(timerId);
				timerId = window.setInterval(callback, delay);
			};

			this.resume();
		}

		var timer = new animateSlider(showNext, {{ instance.slide_duration }});
		$('.cr-container, .slide-item').hover(function() {
			timer.pause();
		}, function() {
			timer.resume();
		});

	</script>

{% endblock %}