{% load staticfiles sekizai_tags %}
<div class='slide-item'>
	<img src='{{ instance.image.url }}' />
</div>

{% addtoblock "css" %}
	<style type="text/css">
		.slide-item {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			-webkit-transition: visibility 0s 500ms, opacity 500ms linear;
			   -moz-transition: visibility 0s 500ms, opacity 500ms linear;
			    -ms-transition: visibility 0s 500ms, opacity 500ms linear;
			     -o-transition: visibility 0s 500ms, opacity 500ms linear;
			        transition: visibility 0s 500ms, opacity 500ms linear;
			
		}

		.slide-item img {
			width: 100%;
			height: auto;
		}

		.slide-item.active {
			opacity: 1;
			position: relative;
			visibility: visible;
			-webkit-transition: opacity 500ms linear;
			   -moz-transition: opacity 500ms linear;
			    -ms-transition: opacity 500ms linear;
			     -o-transition: opacity 500ms linear;
			        transition: opacity 500ms linear;
		}
	</style>

{% endaddtoblock %}