{% load staticfiles cms_tags menu_tags sekizai_tags %}
<div class="panel panel-default">
    <div class="panel-heading"><strong>{{ instance.title }}</strong></div>
    <div class="panel-body">
      <img src="{{ instance.img.url }}" alt="class name" />
      {{ instance.description}}
    </div>
</div>

{% block "css" %}
	<style type="text/css">
		.panel-heading {
			background-color: #6E0012 !important;
		    color: white !important;
		    text-transform: capitalize;
		}

		.panel-body img {
		    width: 200px;
		    height: 150px;
		    float: left;
		    margin: 0 10px 10px;
		}
	</style>

{% endblock %}