html, 
body {
	width: 100%;
	height: 100%;
	background: #eeeeee;
}

body {
	min-height: 100%;
}

header {
	height: 250px;
	width: 100%;
}

header a.logo {
	height: 200px;
	width: 100%;
	display: block;
	text-align: center;
}

a.logo img {
	height: 100%;
	width: auto;
	margin: 0 auto;
}

header ul {
	margin: 0;
	padding: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	background: #6e0012;
}

header ul li {
	height: 50px;
	display: inline-block !important;
	margin: 0;
	padding: 0 10px;
}

header ul li a {
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 !important;
	margin: 0;
	font-weight: bolder;
	color: gray;
}

ul.nav li.selected,
ul.nav li:hover,
ul.nav li:hover a,
ul.nav li.selected a {
	background: #a61a32;
	color: white !important;
}

/*ul.nav {
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}*/

ul.nav.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
}

/**********************
 * FOOTER CSS HERE
 **********************/
.quote:before {
	content: '\201C';
	font-size: 1.5em;
}
.quote:after {
	font-size: 1.5em;
	content: '\201D';
}

#footer {
	min-height: 300px;
	width: 100%;
	display: block;
	text-align: center;
	border-top: 1px solid black;
	background: #6E0012;
	color: white;
}

#footer>.footer-col{
	display: inline-block;
	height: 280px;
	width: 400px
}

#footer .footer-col-content{
	width: 350px;
	height: 100%;
	display: block;
	padding: 20px;
	position: relative;
	overflow-y: hidden;
}

.footer-col-content>img.footer-logo{
	width: auto;
	height: 150px;
	display: block;
	margin: auto;
}

.footer-col-content>p.logo-caption {
	text-align: left;
	position: absolute;
}

.footer-col-content>span.title{
	font-size: 16px;
	text-transform: uppercase;
	height: 50px;
	position: absolute;
	display: block;
	width: calc(100% - 40px);
	text-align: center;
	
}


.footer-col-content>ul{
	display: block;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 40px;
	width: calc(100% - 40px);
}

.footer-col-content>ul>li{
	list-style: none;
	height: 30px;
	line-height: 30px;

}

.footer-col-content>ul>li>a{
	text-transform: capitalize;
	color: gray;
}

.footer-col-content>ul>li:hover>a{
	color: white;
	text-decoration: underline;
}

.footer-col-content>.info {
	position: absolute;
	top: 70px;
	width: calc(100% - 40px);
}

.info>p {
	display: block;
	width: 100%;
	text-align: center;
}

#social-medias {
	height: 30px;
	width: 100%;
	margin: 0;
	display: block;
	margin: 0;
}

#social-medias i {
	font-size: 1.3em;
}

#social-medias>li{
	list-style: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0;
}

#social-medias>li>a {
	height: 28px;
	width: 28px;
	margin: 0;
	padding: 0;
	color: gray;
}

.info>p.small {
	line-height: 20px;
	margin: 0;
}

#social-medias>li:hover>a {
	color: black;
}
#social-medias>li:last-child{
	margin-right: 0;
}

#footer #facebook-feed {
	height: 260px;
	overflow: hidden;
	padding: 0;
}

#facebook-feed>iframe{
	overflow: hidden;
	border:none; 
	overflow:hidden; 
	width:100%; 
	height:250px; 
	background: white; 
	float:left; 
}

@media all and (max-width: 1619px){
	.footer-col{
		width: 32% !important;
		display: inline-block !important;
	}

	.footer-col>.footer-col-content {
		display: block;
		margin: auto;
	}
}

@media all and (max-width: 889px){
	.footer-col{
		width: 100% !important;
		display: block !important;
		margin-bottom: 20px;
	}

	.footer-col>.footer-col-content {
		display: block;
		margin: auto;
	}
}

@media all and (max-width: 420px){
	.footer-col>.footer-col-content {
		width: 100% !important;
	}
}

/******************
* GENERIC HADRON BTN
******************/
.clear {clear: both;}
.btn-subscribe {
	background: none;
	border: 1px solid gray;
	margin-top: 10px;
	text-transform: uppercase;
	color: gray;
}

.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active,
.btn-subscribe.active{
	background: none;
	border: 2px solid white;
	color: white;
	box-shadow: none;
}